
.App-Memoria {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 60vh;
    max-width: 80vw;
    overflow: hidden;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 8px; 
    transition: background-color 0.3s ease-in-out;
}

.card.flipped {
    background-color: #fff; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

.button {
    width: 120px; 
    height: 40px; 
    background-size: contain; 
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
.card-container {
    grid-template-columns: repeat(2, 1fr); 
}

.card {
    width: 100%; 
}
}